amply==0.1.2
backcall==0.2.0
certifi==2020.6.20
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
docutils==0.16
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
kiwisolver==1.2.0
line-profiler==2.1.2
matplotlib==3.3.1
numpy==1.19.1
parso==0.7.0
pickleshare==0.7.5
Pillow==8.1.1
prompt-toolkit==3.0.5
PuLP==2.2
Pygments==2.6.1
pyparsing==2.3.0
python-dateutil==2.8.1
six==1.11.0
traitlets==4.3.3
wcwidth==0.1.7
wrapt==1.10.11
